# Java
*.class

# Package Files
*.jar
*.war
*.ear

# Maven
target/

# NetBeans
build/
nb-configuration.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
*.bak

# Eclipse
.project
.classpath
.settings/

# JRebel
nb_jr_remoting.cfg
rebel-remote.xml
rebel.xml

# OS X
.DS_Store
